#faiza talpur
# date 1-11-2025
#practice 03

In [ ]:
# python data types
string = "faiza"
print(string)
#numeric types
int
a = 10
b = 20
print("addition",a+b)
print("subtraction",a-b)
print("multiplication",a*b)
print("division",a/b)

#complex numbers
a=  4+4j
b=  4+2j
print(a,b)
print("addition 4+4=8,4+2=6",a+b)
print(a-b)
print(a*b)
print(a/b)

#sequence type

#list

#(it stores an ordered of items based on how they are added,it can be changeable or mutable after creation,it can containn duplicate values)
#list created by using square bracket []

f=["peach","apple","banana"]
g=[40,98,50,78]
h=[30,"banana",45,"grapes"]
i=("peach")
print(f)
print(g)
print(h)
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(f[2])
print(g[0])
print(h[1])
print(i[0])

#tuple
#it can store multiple items, it is unchangeable or immutable.
j=(20,"apples",40,"peach",30,"juices")
k=["my list",20,"apples",40,"peach"]
print(j)
print(type(j))
print(j[3])
print(k)
print(k[0])
print(type(k))

#range
#create sequence of numbers 0-9
l= range(6)
m=range(3,4,9)
print(type(l))
print(list(l))
print(m)
print(type(m))

faiza
addition 30
subtraction -10
multiplication 200
division 0.5
(4+4j) (4+2j)
addition 4+4=8,4+2=6 (8+6j)
2j
(8+24j)
(1.2+0.4j)
['peach', 'apple', 'banana']
[40, 98, 50, 78]
[30, 'banana', 45, 'grapes']
<class 'list'>
<class 'list'>
<class 'list'>
<class 'str'>
banana
40
banana
p
(20, 'apples', 40, 'peach', 30, 'juices')
<class 'tuple'>
peach
['my list', 20, 'apples', 40, 'peach']
my list
<class 'list'>
<class 'range'>
[0, 1, 2, 3, 4, 5]
range(3, 4, 9)
<class 'range'>

In [2]:
#4 Mapping type
#dictionary dict
d = {"name":"faiza", "cast":"talpur", "district":"badin"}
print(type(d))
print(d)
dict (fruit1="orange",fruit2="apple",fruit3="mango")

# 5 set types
#set (unordered,unique values,unmodified,unindexed,no duplicate)
s={1,2,3,4,5,6,7,8,9,2,3,4}
print(s)
print(type(s))
s2={"banana","apple","orange","banana","apple"}
print(s2)
print(type(s2))

#frozen set immutable version of set,can not be modified,duplicate values automatically removed.
f= ({1,2,3,4,5,6,7,8,9,2,3,4})
print(f)
print(type(f))
my_frozen=frozenset(["grapes","apple","peach","apple","grapes"])
print(my_frozen)
print(type(my_frozen))

#6 boolean type-commonly used in conditional statement,logical operations and comparison.(true,false)
a=45
b=76
print(a>b)
print(a<b)
print(a==b)

<class 'dict'>
{'name': 'faiza', 'cast': 'talpur', 'district': 'badin'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>
{'banana', 'orange', 'apple'}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>
frozenset({'peach', 'grapes', 'apple'})
<class 'frozenset'>
False
True
False