faiza talpur
practice 02
19-10-2025

In [ ]:
# string in python language is any text or sentence.
#it could be in parenthesis() and double or single quotation mark" '.
"My name is faiza" 'my friends name is sania'
print("My name is faiza")
print('my friends name is sania')

#comment in python is silent or ignorable line with # mark.
#python will not read the line which started with # mark.
#it will not added to output
"# i am a teacher"  #"teaching is my profession"
print("# i am a teacher")#"teaching is my profession"

# variable is a container
# variables and its types

# output variable
f= "i am learning python"
print(f)

# multiple variables
#01
a= "i"
b="am"
c= "learning"
d= "python"
print(a)
print(b)
print(c)
print(d)
#02
a= "i"
b="am"
c= "learning"
d= "python"
print(a,b,c,d)
#03 variables with +
a= "i"
b="am"
c= "learning"
d= "python"
print(a+b+c+d)

#04 with space in string
a="i "
b="am "
c="learning "
d="python"
print(a+b+c+d)

#assign multiple value to multiple varaibles at same time.
a,b,c= "my name is faiza","i am learning python","my friends name is sania"
print(a)
print(b)
print(c)

#one value to multiple variables
a=b=c="my name is faiza"
print(a)
print(b)
print(c)

My name is faiza
my friends name is sania
# i am a teacher
i am learning python
i
am
learning
python
i am learning python
iamlearningpython
i am learning python
my name is faiza
i am learning python
my friends name is sania
my name is faiza
my name is faiza
my name is faiza