<a href="https://colab.research.google.com/github/faizatalpur/learning-python/blob/main/practice_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# faiza talpur
#practice 02
#19-10-2025

In [ ]:
# string in python language is any text or sentence.
#it could be in parenthesis() and double or single quotation mark" '.
"My name is faiza" 'my friends name is sania'
print("My name is faiza")
print('my friends name is sania')

#comment in python is silent or ignorable line with # mark.
#python will not read the line which started with # mark.
#it will not added to output
"# i am a teacher"  #"teaching is my profession"
print("# i am a teacher")#"teaching is my profession"

# variable is a container
# variables and its types

# output variable
f= "i am learning python"
print(f)

# multiple variables
#01
a= "i"
b="am"
c= "learning"
d= "python"
print(a)
print(b)
print(c)
print(d)
#02
a= "i"
b="am"
c= "learning"
d= "python"
print(a,b,c,d)
#03 variables with +
a= "i"
b="am"
c= "learning"
d= "python"
print(a+b+c+d)

#04 with space in string
a="i "
b="am "
c="learning "
d="python"
print(a+b+c+d)

#assign multiple value to multiple varaibles at same time.
a,b,c= "my name is faiza","i am learning python","my friends name is sania"
print(a)
print(b)
print(c)

#one value to multiple variables
a=b=c="my name is faiza"
print(a)
print(b)
print(c)

My name is faiza
my friends name is sania
# i am a teacher
i am learning python
i
am
learning
python
i am learning python
iamlearningpython
i am learning python
my name is faiza
i am learning python
my friends name is sania
my name is faiza
my name is faiza
my name is faiza

# python operators

A Python operator is a symbol that performs an operation on one or more operands. Operands are the values that the operator acts upon.

For example, in the expression `5 + 3`, `+` is the operator, and `5` and `3` are the operands. The operator `+` performs the addition operation on the operands `5` and `3`.

Python has various types of operators:

*   **Arithmetic operators:** Perform mathematical operations like addition, subtraction, multiplication, division, etc.
*   **Comparison operators:** Compare two values and return a boolean result (True or False).
*   **Logical operators:** Combine boolean expressions.
*   **Assignment operators:** Assign values to variables.
*   **Bitwise operators:** Perform operations on individual bits.
*   **Membership operators:** Check if a value is present in a sequence.
*   **Identity operators:** Compare the memory locations of two objects.

We can explore some of these operators with code examples in the following cells.

# Comparison Operators

Comparison operators are used to compare two values and return a boolean result (`True` or `False`).

In [ ]:
# Comparison Operators

x = 10
y = 12

print("x is less than y is", x < y)
print("x < y is", x < y)
print("x == y is", x == y)
print("x != y is", x != y)
print("x >= y is", x >= y)
print("x <= y is", x <= y)

x is less than y is True
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [ ]:
# Arithmetic Operators

# Addition
x = 10
y = 5
print("x + y =", x + y)

# Subtraction
print("x - y =", x - y)

# Multiplication
print("x * y =", x * y)

# Division
print("x / y =", x / y)

# Modulus
print("x % y =", x % y)

# Exponentiation
print("x ** y =", x ** y)

# Floor Division
print("x // y =", x // y)

x + y = 15
x - y = 5
x * y = 50
x / y = 2.0
x % y = 0
x ** y = 100000
x // y = 2

In [ ]:
x= 30
y= 5
print("addition",x+y)

addition 35